.vs/Minesweeper/FileContentIndex/2a7530ef-1b48-4a6a-89ce-c21604db4969.vsidx
.vs/Minesweeper/FileContentIndex/a608528e-6b4d-4856-abdd-52da7027b066.vsidx
Minesweeper.Tests/obj/Debug/net8.0/Minesweeper.Tests.sourcelink.json
Minesweeper/obj/Debug/net8.0/Minesweeper.sourcelink.json
.vs/Minesweeper/CopilotIndices/17.13.431.34963/CodeChunks.db
.vs/Minesweeper/CopilotIndices/17.13.431.34963/SemanticSymbols.db
.vs/Minesweeper/DesignTimeBuild/.dtbcache.v2
.vs/Minesweeper/v17/.futdcache.v2
.vs/Minesweeper/v17/DocumentLayout.backup.json
.vs/Minesweeper/v17/DocumentLayout.json
.vs/ProjectEvaluation/minesweeper.metadata.v9.bin
.vs/ProjectEvaluation/minesweeper.projects.v9.bin
